<ion-header>
  <ion-navbar color="secondary" hideBackButton="true">
    <ion-title>
      Mensajes
    </ion-title>

    <!-- Se le agrego esto del boton que cierra sesion -->

    <ion-buttons end>
      <button ion-button icon-only (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    

  </ion-navbar>
</ion-header>

<ion-content #content padding id="content">

  <ion-list>
    <ion-item text-wrap *ngFor="let msg of messages | async">
      <h2>{{ msg.author }}</h2>
      <h1>{{ msg.message }}</h1>
      <p>{{ msg.date }}</p>
    </ion-item>
  </ion-list>
  <div id="content-end"></div>
</ion-content>

<ion-footer no-shadow no-border>
  <ion-toolbar position="bottom">

    <img class="image-preview" *ngIf="base64Image" [src]="base64Image">

    <ion-item no-lines>
      <ion-input [(ngModel)]="newMessage" type="text" placeholder="Escribe aquí"></ion-input>
      <button ion-button outline item-end icon-only (click)="send()">
        <ion-icon name="send"></ion-icon>
      </button>
      <button ion-button outline item-end icon-only (click)="takePic()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button outline item-end icon-only (click)="getImage()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
    </ion-item>

  </ion-toolbar>
</ion-footer>